.container-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


.perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: #4d4017;
    padding: 1rem;
    color: white;
    width: 300px;
}